**/venv
/**venv */
**.py[cod]
**/__pycache__
19-30 JUNE 2025/GANS/
19-30 JUNE 2025/news_classifier_ml-BERT-GRU/
19-30 JUNE 2025/news_classifier_ml-BERT-LSTM/
19-30 JUNE 2025/my-own-LM/
16JUNE2025/dataset/mnist/
17JUNE2025/dataset/
19