numpy
pandas
matplotlib
seaborn
scikit-learn
scikit-optimize
plotly
imbalanced-learn
ipykernel
transformers
torch --index-url https://download.pytorch.org/whl/cu126
torchvision --index-url https://download.pytorch.org/whl/cu126
torchaudio --index-url https://download.pytorch.org/whl/cu126
hf_xet
nltk==3.9.1
pickle4
xgboost==3.0.2
